---
import testimonials from '../data/testimonials.json';
---

<section
    class="bg-[#DCF0FF] text-[#0085C8] ext-center p-4 md:p-10 overflow-hidden relative"
>
    <div class="relative mx-auto w-full max-w-[1440px]">
        <h2 class="text-xl md:text-4xl mb-4 text-center leading-tight">
            Au service des architectes et
            bureaux&nbsp;d'études&nbsp;depuis&nbsp;2015
        </h2>
        <p
            class="text-center max-w-[55ch] text-base md:text-2xl mx-auto mb-0 md:mb-12 leading-tight"
        >
            Alzo synthétise 8 ans d'expérience auprès d'agences d'architecture
            et bureaux d'études d'échelles et activités variées en un produit
            durable et évolutif.
        </p>
    </div>
    <div class="relative mx-auto w-full max-w-[1440px]">
        <div
            class="absolute -left-10 z-10 top-0 bottom-0 w-20 md:w-60"
            style="background: linear-gradient(to right,  #DCF0FF 0%, rgba(0,0,0,0) 100%)"
        >
        </div>
        <div
            class="absolute -right-10 z-10 top-0 bottom-0 w-20 md:w-60"
            style="background: linear-gradient(to left,  #DCF0FF 0%, rgba(0,0,0,0) 100%)"
        >
        </div>
        <div
            class="relative flex my-4 px-10 -mx-10 overflow-x-scroll overflow-y-visible py-2 md:py-10 gap-8 text-[#0085C8] text-xs"
        >
            {testimonials.map((testimonial) => (
                <div
                    class="p-4 flex flex-col items-center text-center"
                    style="flex: 0 0 300px"
                >
                    <div
                        class="w-32 h-32 mb-4 rounded-full bg-white flex justify-center items-center"
                    >
                        <img
                            src={testimonial.logo}
                            class="w-16 h-16 object-contain opacity-75"
                            style="filter: grayscale(1); background-blend-mode: screen;"
                        />
                    </div>
                    <h4 class="fs-t4 mb-1">{testimonial.name}</h4>
                    <h4 class="fs-t4 text-sm mb-2">{testimonial.city}</h4>
                    <p class="fs-t5 text-center text-[#0085C8]/70" set:html={testimonial.description} />
                    {testimonial.collaborators.length && <small class="leading-0">
                        Avec {testimonial.collaborators.map((collab, index) => (
                            <>
                                {index > 0 && (index === testimonial.collaborators.length - 1 ? ' et ' : ', ')}
                                <a class="underlined" href={collab.url}>{collab.name}</a>
                            </>
                        ))}
                    </small>
                    || <div/>}
                </div>
            ))}
        </div>
    </div>
</section>
